


<h2 class="h5 mt-4">Holiday Balance Details</h2>

<div class="card">
  <div class="card-body">
    <div class="hero">
      <p class="hero-title">Balance <span>2017</span></p>
      <div class="item">
        <p class="number">{{holidayBalance.balanceEndOfLastYear  | number: '1.0-2'}}</p>
        <p class="time">hours</p>
      </div>
    </div>

    <div class="hero">
      <p class="hero-title">Current <span>Allowance</span></p>
      <div class="item">
        <p class="number">{{holidayBalance.currentAllowance  | number: '1.0-2'}}</p>
        <p class="time">hours</p>
      </div>
    </div>

    <div class="hero">
      <p class="hero-title">Holidays <span>Taken</span></p>
      <div class="item">
        <p class="number">{{hoursTaken | number: '1.0-2'}}</p>
        <p class="time">hours</p>
      </div>
    </div>

    <div class="hero">
      <p class="hero-title">Estimated <span>balance</span></p>
      <div class="item">
        <p class="number">{{holidayBalance.estimatedBalance | number: '1.0-2'}}</p>
        <p class="time">hours</p>
      </div>
    </div>

  </div>
</div>


<h2 class="h5 mt-4">End of Year Holiday Estimate</h2>

<div class="card">
    <div class="card-body">

      <div class="hero">
        <p class="hero-title">Holidays <span>Pending</span></p>
        <div class="item">
          <p class="number">{{hoursPending / 7.5 | number: '1.0-2'}}</p>
          <p class="time">days</p>
        </div>
      </div>

      <div class="hero">
        <p class="hero-title">Estimated <span>end of year</span></p>
        <div class="item">
          <p class="number">{{holidayBalance.estimatedBalanceEOY / 7.5 | number: '1.0-2'}}</p>
          <p class="time">days</p>
        </div>
      </div>

  </div>
</div>
